<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div align="center">
<div class="card" style="width: 18rem;">
  <img src="https://www.kluniversity.in/images/klulogo3.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">WELCOME TO KLU</h5>
    <p class="card-text">WELCOME TO KLU.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
{% endblock %}
</body>
</html>